*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
*.iml
*.ipr
*.iws

bin/
obj/
out/

*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json

appsettings.Development.json
appsettings.Local.json
logs/
*.log

publish/

.vscode/
*.bak
*.tmp

GeneratedFiles/

secrets.json
.env

tnode_modules/

dist/

package-lock.json
yarn.lock
pnpm-lock.yaml

.env*

.vite/

*.log

*.tsbuildinfo
